@import url(fontawesome-all.min.css);
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i");
/*
cascade = 6ebed4
buttercup = f4e46e
seafoam = a2cbc3

https://getbootstrap.com/docs/5.0/layout/breakpoints/
Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
X-Large devices (large desktops, 1200px and up)
XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 576px) { 
	.?? {
	}
}
@media (min-width: 768px) { 
	.?? {
	}
}
@media (min-width: 992px) { 
	.?? {
	}
}
@media (min-width: 1200px) { 
	.?? {
	}
}
@media (min-width: 1400px) { 
	.?? {
	}
}
*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
body {
	-webkit-text-size-adjust: none;
}
input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none; }

/* Basic */
	@-ms-viewport {
		width: device-width;
	}
	html {
		box-sizing: border-box;
		font-size: 18pt;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	body {
		background: #2e3842;
	}
		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
	body, input, select, textarea {
		color: #fff;
		font-family: "Source Sans Pro", Helvetica, sans-serif; /* Open Sans*/
		font-size: 10pt;
		font-size: 1rem;
		font-weight: 300;
		/*letter-spacing: 0.075em;*/
		line-height: 1.65em;
	}
		@media screen and (max-width: 1680px) {
			html, body, input, select, textarea {
				font-size: 14pt;
			}
		}
		@media screen and (max-width: 1280px) {
			html, body, input, select, textarea {
				font-size: 12pt;
			}
		}
		@media screen and (max-width: 736px) {
			html, body, input, select, textarea {
				font-size: 11pt;
				/*letter-spacing: 0.0375em;*/
			}
		}
		@media screen and (max-width: 360px) {
			html, body, input, select, textarea {
				font-size: 10pt;
			}
		}
	a {
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		border-bottom: dotted 1px;
		color: inherit;
		text-decoration: none;
	}
		a:hover {
			border-bottom-color: transparent;
		}

/* Type */

strong, b {
	font-weight: 500;
}
em, i {
	font-style: italic;
}
p {
	margin: 0 0 2rem 0;
}
	p.major {
		font-size: 1.25rem;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.375;
	letter-spacing: -0.05em;
	margin: 0 0 1rem 0;
}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #a2cbc3;
		text-decoration: none;
	}
h1 {
	font-size: 3.5rem;
	line-height: 1.2;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.1rem;
}
h5 {
	font-size: 0.9rem;
}
h6 {
	font-size: 0.7rem;
}
sub {
	font-size: 0.8rem;
	position: relative;
	top: 0.5rem;
}
sup {
	font-size: 0.8rem;
	position: relative;
	top: -0.5rem;
}
blockquote {
	border-left: solid 4px;
	font-style: italic;
	margin: 0 0 2rem 0;
	padding: 0.5rem 0 0.5rem 2rem;
}
hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 2.5rem 0;
}
	hr.major {
		margin: 3.5rem 0;
	}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
/* why only this size? */
@media screen and (max-width: 736px) {
	p.major {
		font-size: 1.1rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
	}
}
blockquote {
	border-bottom-color: rgba(255, 255, 255, 0.1);
}
hr {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

/* Image */
.image {
	border-radius: 5px;
	border: 0;
	display: inline-block;
	position: relative;
  }
  .image img {
	border-radius: 5px;
	display: block;
  }
  .image.left,
  .image.right {
	max-width: 10rem; /*100%*/
  }
  .image.left img,
  .image.right img {
	width: 100%;
  }
  .image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
  }
  .image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
  }
  .image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
  }
  .image.fit img {
	width: 100%;
  }
  .image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
  }
  .image.main img {
	width: 100%;
  }

/* List */
ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;
}
	ol li {
		padding-left: 0.25rem;
	}
ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}
	ul li {
		padding-left: 0.5rem;
	}
	ul.alt {
		list-style: none;
		padding-left: 0;
	}
		ul.alt li {
			border-top: solid 1px;
			padding: 0.5rem 0;
		}
			ul.alt li:first-child {
				border-top: 0;
				padding-top: 0;
			}
dl {
	margin: 0 0 2rem 0;
}
	dl dt {
		display: block;
		font-weight: 400;
		margin: 0 0 1rem 0;
	}
	dl dd {
		margin-left: 2rem;
	}
	dl.style2 dt {
		width: 25%;
		float: left;
	}
	dl.style2 dd {
		width: 70%;
		float: left;
	}
	dl.style2:after {
		content: '';
		display: block;
		clear: both;
	}
ul.alt li {
	border-top-color: rgba(0, 0, 0, 0.2);
}

/* Background */
#bg {
	-moz-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
	height: 100%;
	left: 0;
	opacity: 0.375;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1; }
	#bg div {
	  -moz-transition: opacity 3s ease;
	  -webkit-transition: opacity 3s ease;
	  -ms-transition: opacity 3s ease;
	  transition: opacity 3s ease;
	  background-size: cover;
	  height: 100%;
	  left: 0;
	  opacity: 0;
	  position: absolute;
	  top: 0;
	  visibility: hidden;
	  width: 150%; }
	  #bg div.visible {
		-moz-animation: bg 45s linear infinite;
		-webkit-animation: bg 45s linear infinite;
		-ms-animation: bg 45s linear infinite;
		animation: bg 45s linear infinite;
		opacity: 1;
		visibility: visible;
		z-index: 1; }
		#bg div.visible.top {
		  z-index: 2; }
		@media screen and (max-width: 1280px) {
		  #bg div.visible {
			-moz-animation: bg 29.25s linear infinite;
			-webkit-animation: bg 29.25s linear infinite;
			-ms-animation: bg 29.25s linear infinite;
			animation: bg 29.25s linear infinite; } }
		@media screen and (max-width: 736px) {
		  #bg div.visible {
			-moz-animation: bg 18s linear infinite;
			-webkit-animation: bg 18s linear infinite;
			-ms-animation: bg 18s linear infinite;
			animation: bg 18s linear infinite; } }
	  #bg div:only-child {
		-moz-animation-direction: alternate !important;
		-webkit-animation-direction: alternate !important;
		-ms-animation-direction: alternate !important;
		animation-direction: alternate !important; }
	body.is-preload #bg {
	  opacity: 0; }
  
  @-moz-keyframes bg {
	0% {
	  -moz-transform: translateX(0);
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0); }
	100% {
	  -moz-transform: translateX(-25%);
	  -webkit-transform: translateX(-25%);
	  -ms-transform: translateX(-25%);
	  transform: translateX(-25%); } }
  
  @-webkit-keyframes bg {
	0% {
	  -moz-transform: translateX(0);
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0); }
	100% {
	  -moz-transform: translateX(-25%);
	  -webkit-transform: translateX(-25%);
	  -ms-transform: translateX(-25%);
	  transform: translateX(-25%); } }
  
  @-ms-keyframes bg {
	0% {
	  -moz-transform: translateX(0);
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0); }
	100% {
	  -moz-transform: translateX(-25%);
	  -webkit-transform: translateX(-25%);
	  -ms-transform: translateX(-25%);
	  transform: translateX(-25%); } }
  
  @keyframes bg {
	0% {
	  -moz-transform: translateX(0);
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0); }
	100% {
	  -moz-transform: translateX(-25%);
	  -webkit-transform: translateX(-25%);
	  -ms-transform: translateX(-25%);
	  transform: translateX(-25%); } }





/* Index */
.index > * {
	padding: 3rem 0 1rem 0 ;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	border-top: solid 1px;
	z-index: 20;
}
	.index > * > header {
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
		-moz-flex-shrink: 0;
		-webkit-flex-shrink: 0;
		-ms-flex-shrink: 0;
		flex-shrink: 0;
		width: 15rem;
	}
	.index > * > .content {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		z-index: 20;
	}
	.index > * > .content a:hover {
		color: #a2cbc3;
	}

.index > :first-child {
	border-top: 0;
}
@media screen and (max-width: 980px) {
	.index > * > header {
		width: 11rem;
	}
}
@media screen and (max-width: 736px) {
	.index > * > header {
		width: 10rem;
	}
}
@media screen and (max-width: 480px) {
	.index > * {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.index > * > header {
			width: 100%;
		}
}
.index > * {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

/* Items (transitions) */
.items.onload-fade-in > * > .inner {
	-moz-transition: opacity 0.75s ease-in-out;
	-webkit-transition: opacity 0.75s ease-in-out;
	-ms-transition: opacity 0.75s ease-in-out;
	transition: opacity 0.75s ease-in-out;
	-moz-transition-delay: 2.4s;
	-webkit-transition-delay: 2.4s;
	-ms-transition-delay: 2.4s;
	transition-delay: 2.4s;
}
.items.onload-fade-in > *:nth-child(1) > .inner {
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}
.items.onload-fade-in > *:nth-child(2) > .inner {
	-moz-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.items.onload-fade-in > *:nth-child(3) > .inner {
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.items.onload-fade-in > *:nth-child(4) > .inner {
	-moz-transition-delay: 0.45s;
	-webkit-transition-delay: 0.45s;
	-ms-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.items.onload-fade-in > *:nth-child(5) > .inner {
	-moz-transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.items.onload-fade-in > *:nth-child(6) > .inner {
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
}
.items.onload-fade-in > *:nth-child(7) > .inner {
	-moz-transition-delay: 0.9s;
	-webkit-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	transition-delay: 0.9s;
}
.items.onload-fade-in > *:nth-child(8) > .inner {
	-moz-transition-delay: 1.05s;
	-webkit-transition-delay: 1.05s;
	-ms-transition-delay: 1.05s;
	transition-delay: 1.05s;
}
.items.onload-fade-in > *:nth-child(9) > .inner {
	-moz-transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	transition-delay: 1.2s;
}
.items.onload-fade-in > *:nth-child(10) > .inner {
	-moz-transition-delay: 1.35s;
	-webkit-transition-delay: 1.35s;
	-ms-transition-delay: 1.35s;
	transition-delay: 1.35s;
}
.items.onload-fade-in > *:nth-child(11) > .inner {
	-moz-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
.items.onload-fade-in > *:nth-child(12) > .inner {
	-moz-transition-delay: 1.65s;
	-webkit-transition-delay: 1.65s;
	-ms-transition-delay: 1.65s;
	transition-delay: 1.65s;
}
.items.onload-fade-in > *:nth-child(13) > .inner {
	-moz-transition-delay: 1.8s;
	-webkit-transition-delay: 1.8s;
	-ms-transition-delay: 1.8s;
	transition-delay: 1.8s;
}
.items.onload-fade-in > *:nth-child(14) > .inner {
	-moz-transition-delay: 1.95s;
	-webkit-transition-delay: 1.95s;
	-ms-transition-delay: 1.95s;
	transition-delay: 1.95s;
}
.items.onload-fade-in > *:nth-child(15) > .inner {
	-moz-transition-delay: 2.1s;
	-webkit-transition-delay: 2.1s;
	-ms-transition-delay: 2.1s;
	transition-delay: 2.1s;
}
.items.onload-fade-in > *:nth-child(16) > .inner {
	-moz-transition-delay: 2.25s;
	-webkit-transition-delay: 2.25s;
	-ms-transition-delay: 2.25s;
	transition-delay: 2.25s;
}
.items.onload-fade-in > *:nth-child(17) > .inner {
	-moz-transition-delay: 2.4s;
	-webkit-transition-delay: 2.4s;
	-ms-transition-delay: 2.4s;
	transition-delay: 2.4s;
}
body.is-preload .items.onload-fade-in > * > .inner {
	opacity: 0;
}

/* Items (style1) */
.items.style1 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	margin: 3rem 0;
	position: relative;
}
	.items.style1 > * {
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
		-moz-flex-shrink: 0;
		-webkit-flex-shrink: 0;
		-ms-flex-shrink: 0;
		flex-shrink: 0;
		border-style: solid;
		border-left-width: 1px;
		border-top-width: 1px;
	}
	.items.style1.medium > * {
		padding: 2.1875rem 2.1875rem 0.1875rem 2.1875rem ;
		width: 33.33333%;
	}
		.items.style1.medium > *:nth-child(-n + 3) {
			border-top-width: 0;
		}
		.items.style1.medium > *:nth-child(3n + 1) {
			border-left-width: 0;
		}
	@media screen and (max-width: 980px) {
		.items.style1.medium > *:nth-child(-n + 3) {
			border-top-width: 1px;
		}
		.items.style1.medium > *:nth-child(3n + 1) {
			border-left-width: 1px;
		}
		.items.style1.medium > * {
			padding: 3.5rem 3.5rem 1.5rem 3.5rem ;
			width: 50%;
		}
			.items.style1.medium > *:nth-child(-n + 2) {
				border-top-width: 0;
			}
			.items.style1.medium > *:nth-child(2n + 1) {
				border-left-width: 0;
			}
	}
	@media screen and (max-width: 480px) {
		.items.style1.medium > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}
		.items.style1.medium > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}
		.items.style1.medium > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}
			.items.style1.medium > *:nth-child(-n + 1) {
				border-top-width: 0;
			}
			.items.style1.medium > *:nth-child(1n + 1) {
				border-left-width: 0;
			}
	}


/* Page Wrapper + Menu */
	#page-wrapper {
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		opacity: 1;
		padding-top: 0;
	}
		#page-wrapper:before {
			background: rgba(0, 0, 0, 0);
			content: '';
			display: block;
			display: none;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 100;
		}
	#menu {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		background: #6c9575;
		color: #ffffff;
		height: 100%;
		max-width: 70%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		width: 20em;
		z-index: 1001;
	}
		#menu ul {
			list-style: none;
			padding: 0;
		}
			#menu ul > li {
				border-top: solid 1px rgba(255, 255, 255, 0.2);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
			}
				#menu ul > li:first-child {
					border-top: 0 !important;
					margin-top: 0 !important;
					padding-top: 0 !important;
				}
				#menu ul > li > a {
					border: 0;
					color: inherit;
					display: block;
					font-size: 0.8em;
					letter-spacing: 0.225em;
					outline: 0;
					text-decoration: none;
					text-transform: capitalize;
				}
					@media screen and (max-width: 736px) {
						#menu ul > li > a {
							line-height: 3em;
						}
					}
		#menu .close {
			background-image: url("images/close2.svg");
			background-position: 4.85em 1em;
			background-repeat: no-repeat;
			border: 0;
			cursor: pointer;
			display: block;
			height: 3em;
			position: absolute;
			right: 0;
			top: 0;
			width: 7em;
		}
		@media screen and (max-width: 736px) {
			#menu {
				padding: 3em 1.5em;
			}
		}
	body.is-menu-visible #page-wrapper {
		opacity: 0.35;
	}
		body.is-menu-visible #page-wrapper:before {
			display: block;
		}
	body.is-menu-visible #menu {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

/* Banner */
#banner {
	bottom: 0;
	position: fixed;
	padding: 3rem 2rem 2rem 2rem;
	width: 70%;
	z-index: 10;
	display: block;
}
#banner h1 {
	font-size: 3.25em;
	margin: 0 0 0.55em 0;
}
#banner p {
	font-size: 1.35em;
	line-height: 1.65em;
}
#banner a {
	color: inherit;
}
#banner a:hover {
	color: #a2cbc3;
}
@media screen and (max-width: 1680px) {
	#banner {
		width: 60%;
	}
}
@media screen and (max-width: 736px) {
	#banner {
		width: 70%;
	}
	#banner h1 {
		font-size: 2em;
	}
	#banner p {
		font-size: 1em;
	}
}
@media screen and (max-width: 360px) {
	#banner {
		width: 70%;
	}
}

/* Header */
#header {
	-moz-transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	background: #2e3842;
	height: 3em;
	left: 0;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

	#header h1 {
		-moz-transition: opacity 0.2s ease;
		-webkit-transition: opacity 0.2s ease;
		-ms-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		position: absolute;
		top: 0;
	}

		#header h1 a {
			border: 0;
			display: block;
			height: inherit;
			line-height: inherit;
		}

			@media screen and (max-width: 736px) {

				#header h1 a {
					font-size: 0.8em;
				}

			}

	#header nav {
		height: inherit;
		line-height: inherit;
		position: absolute;
		right: 0;
		top: 0;
	}

		#header nav > ul {
			list-style: none;
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}

			#header nav > ul > li {
				display: inline-block;
				padding: 0;
			}

				#header nav > ul > li > a {
					border: 0;
					color: #fff;
					display: block;
					font-size: 0.8em;
					letter-spacing: 0.225em;
					padding: 0 1.5em;
					text-transform: capitalize;
				}

					#header nav > ul > li > a.menuToggle {
						outline: 0;
						position: relative;
					}

						#header nav > ul > li > a.menuToggle:after {
							background-image: url("images/bars.svg");
							background-position: right center;
							background-repeat: no-repeat;
							content: '';
							display: inline-block;
							height: 3.75em;
							vertical-align: top;
							width: 2em;
						}

						@media screen and (max-width: 736px) {

							#header nav > ul > li > a.menuToggle {
								padding: 0 1.5em;
							}

								#header nav > ul > li > a.menuToggle span {
									display: none;
								}

						}

					@media screen and (max-width: 736px) {

						#header nav > ul > li > a {
							padding: 0 0 0 1.5em;
						}

					}

				#header nav > ul > li:first-child {
					margin-left: 0;
				}

	#header.alt {
		background: transparent;
	}

		#header.alt h1 {
			pointer-events: none;
			opacity: 0;
		}

/* Gallery (transitions) */
.gallery.onload-fade-in article .image img {
	-moz-transition: opacity 0.75s ease-in-out;
	-webkit-transition: opacity 0.75s ease-in-out;
	-ms-transition: opacity 0.75s ease-in-out;
	transition: opacity 0.75s ease-in-out;
	-moz-transition-delay: 4.8s;
	-webkit-transition-delay: 4.8s;
	-ms-transition-delay: 4.8s;
	transition-delay: 4.8s;
}
.gallery.onload-fade-in article:nth-child(1) .image img {
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}
.gallery.onload-fade-in article:nth-child(2) .image img {
	-moz-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.gallery.onload-fade-in article:nth-child(3) .image img {
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.gallery.onload-fade-in article:nth-child(4) .image img {
	-moz-transition-delay: 0.45s;
	-webkit-transition-delay: 0.45s;
	-ms-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.gallery.onload-fade-in article:nth-child(5) .image img {
	-moz-transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.gallery.onload-fade-in article:nth-child(6) .image img {
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
}
.gallery.onload-fade-in article:nth-child(7) .image img {
	-moz-transition-delay: 0.9s;
	-webkit-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	transition-delay: 0.9s;
}
.gallery.onload-fade-in article:nth-child(8) .image img {
	-moz-transition-delay: 1.05s;
	-webkit-transition-delay: 1.05s;
	-ms-transition-delay: 1.05s;
	transition-delay: 1.05s;
}
.gallery.onload-fade-in article:nth-child(9) .image img {
	-moz-transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	transition-delay: 1.2s;
}
.gallery.onload-fade-in article:nth-child(10) .image img {
	-moz-transition-delay: 1.35s;
	-webkit-transition-delay: 1.35s;
	-ms-transition-delay: 1.35s;
	transition-delay: 1.35s;
}
body.is-preload .gallery.onload-fade-in article .image img {
	opacity: 0;
}

/* Gallery */
			.gallery {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-overflow-scrolling: touch;
				position: relative;
				background-color: transparent;
			}
				.gallery > .forward, .gallery > .backward {
					text-decoration: none;
					-moz-transition: opacity 0.2s ease-in-out;
					-webkit-transition: opacity 0.2s ease-in-out;
					-ms-transition: opacity 0.2s ease-in-out;
					transition: opacity 0.2s ease-in-out;
					position: absolute;
					top: 0;
					width: 4rem;
					height: 100%;
					cursor: pointer;
					opacity: 0;
					z-index: 2;
				}
				.gallery > .forward {
					right: 0;
				}
					.gallery > .forward:before {
						right: 0;
					}
				.gallery > .backward {
					left: 0;
				}
					.gallery > .backward:before {
						left: 0;
					}
				.gallery > .inner {
					display: inherit;
					overflow-x: auto;
					overflow-y: hidden;
					position: relative;
					width: 100%;
				}
				.gallery article {
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
					-moz-flex-shrink: 0;
					-webkit-flex-shrink: 0;
					-ms-flex-shrink: 0;
					flex-shrink: 0;
					display: block;
					position: relative;
					overflow: hidden;
					width: 12.5rem; /*17.5*/
					max-width: 75vw;
				}
					.gallery article .image {
						display: block;
						width: 100%;
						border-radius: 0;
					}
						.gallery article .image img {
							display: block;
							width: 100%;
							border-radius: 0;
						}
			

/* Gallery (lightbox) */
@-moz-keyframes gallery-modal-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes gallery-modal-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-ms-keyframes gallery-modal-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes gallery-modal-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.gallery.lightbox .modal {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
	-webkit-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
	-ms-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
	transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.75);
	visibility: none;
	opacity: 0;
	z-index: 0;
}
.gallery.lightbox .modal .inner {
	-moz-transform: translateY(0.75rem);
	-webkit-transform: translateY(0.75rem);
	-ms-transform: translateY(0.75rem);
	transform: translateY(0.75rem);
	-moz-transition: opacity 0.25s ease, -moz-transform 0.25s ease;
	-webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
	-ms-transition: opacity 0.25s ease, -ms-transform 0.25s ease;
	transition: opacity 0.25s ease, transform 0.25s ease;
	opacity: 0;
}
	.gallery.lightbox .modal .inner img {
		display: block;
		max-width: 90vw;
		max-height: 85vh;
		box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.35);
	}
	.gallery.lightbox .modal.visible {
		pointer-events: auto;
		visibility: visible;
		opacity: 1;
		z-index: 10001;
	}
	.gallery.lightbox .modal.loaded .inner {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
		-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
		-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
		transition: opacity 0.5s ease, transform 0.5s ease;
		opacity: 1;
	}

/* Wrapper */
.wrapper {
	background-color: transparent; /* #ebacac; */
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	padding: 3rem 2rem 2rem 2rem;
	/*z-index: 20;*/
}
@media (min-width: 576px) { 
	.wrapper {
		padding: 3rem 2rem 2rem 2rem;
	}
}
@media (min-width: 768px) { 
	.wrapper {
		padding: 3rem 2rem 2rem 2rem;
	}
}
@media (min-width: 992px) { 
	.wrapper {
		padding: 3rem 2rem 2rem 2rem;
	}
}
@media (min-width: 1200px) { 
	.wrapper {
		padding: 4rem 3rem 3rem 3rem;
	}
}
@media (min-width: 1400px) { 
	.wrapper {
		padding: 5rem 4rem 4rem 4rem;
	}
}

/* Box */
.box {
	border-radius: 4px;
	border: solid 1px;
	margin-bottom: 2rem;
	padding: 1.5rem;
}
	.box > :last-child,
	.box > :last-child > :last-child,
	.box > :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}
	.box.alt {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
.box {
	border-color: rgba(255, 255 255, 0.2);
}	

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}
.icon>.label {
	display: none;
}
.icon:before {
	line-height: inherit;
}
.icon.solid:before {
	font-weight: 900;
}
.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

/* Icons */
ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}
ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}
ul.icons li:last-child {
	padding-right: 0;
}
ul.icons li .icon:before {
	font-size: 1.25em;
}
ul.icons li a {
	color: inherit;
}
ul.icons li a:hover {
	color: #a2cbc3;
}

/* Section/Article */
section.special, article.special {
	text-align: center;
}
header p {
	position: relative;
	margin: -0.65rem 0 1.5rem 0;
	font-style: italic;
}
header h1 + p {
	font-size: 1.375rem;
}
header h2 + p {
	font-size: 1.25rem;
}
header h3 + p {
	font-size: 1.1rem;
}
header h4 + p,
header h5 + p,
header h6 + p {
	font-size: 0.9rem;
}


/* Footer */
#footer {
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	color: rgba(255, 255, 255, 0.5);
	bottom: auto;
	opacity: 0.5;
	position: relative;
	z-index: 20;
}
#footer .homepage {
	bottom: 1em;
	position: fixed;
}
#footer .icons {
	margin: 0 0 0.5em 0;
}
#footer .copyright {
	/* color: #505051; */
	font-size: 0.8em;
	list-style: none;
	padding: 0;
}
#footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.25);
	display: inline-block;
	line-height: 1em;
	margin: 0 0 0 0.75em;
	padding: 0 0 0 0.75em;
}
#footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}
#footer .copyright a {
	color: inherit;
}
#footer:hover {
	opacity: 1;
}
#footer .copyright a:hover {
	color: #a2cbc3;
}
#footer> :last-child {
	margin-bottom: 0;
}
/*@media screen and (max-width: 1680px) {
	#footer {
	}
}
@media screen and (max-width: 736px) {
	#footer {
	}
}
@media screen and (max-width: 360px) {
	#footer {
	}
}*/
@media screen and (max-height: 640px) {
	#footer {
		margin: 1em 0 0 0;
	}
}